{% extends "../base.html" %}

{% block content %}
<div class="page-header">
    <h1>
        Resource usage
        <small>Memory footprint, active thread count etc.</small>
    </h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th colspan="2">
            General statistics
        </th>
    </tr>
    <tr>
        <td>Command line arguments</td>
        <td><code>{{ join_list(resource_usage.command_line_args, " ") }}</code></td>
    </tr>

    <tr>
        <td>Thread count</td>
        <td>{{ resource_usage.thread_count }}</td>
    </tr>

    <tr>
        <td>Initialized at</td>
        <td>{{ format_datetime(resource_usage.initialized_at) }}</td>
    </tr>

    <tr>
        <td>Uptime</td>
        <td>{{ format_duration(resource_usage.uptime) }}</td>
    </tr>

    <tr>
        <th colspan="2">
            OS related statistics
        </th>
    </tr>

    <tr>
        <td>PID</td>
        <td><code>{{ resource_usage.pid }}</code></td>
    </tr>

    <tr>
        <td>CWD</td>
        <td><code>{{ resource_usage.cwd }}</code></td>
    </tr>

    <tr>
        <td>Login</td>
        <td><code>{{ resource_usage.login }}</code></td>
    </tr>

    <tr>
        <td>UID</td>
        <td><code>{{ resource_usage.uid }}</code></td>
    </tr>

    <tr>
        <td>GID</td>
        <td><code>{{ resource_usage.gid }}</code></td>
    </tr>

    


    <tr>
        <th colspan="2">
            Memory related statistics
        </th>
    </tr>

    <tr>
        <td>Garbage Collector</td>
        <td>{{ boolean(resource_usage.is_gc_enabled, "Enabled", "Disabled") }}</td>
    </tr>

    <tr>
        <td>Generation counts</td>
        <td>({{ join_list(resource_usage.gc_count) }})</td>
    </tr>

    <tr>
        <td>Generation thresholds</td>
        <td>({{ join_list(resource_usage.gc_threshold) }})</td>
    </tr>

    <tr>
        <td>
            Created objects <br/>
            (<em>Without builtin classes</em>)
        </td>
        <td>
            <ul class="unstyled">
                {% for klass, count in resource_usage.created_objects %}
                    <li>{{ count }} &mdash; {{ str(klass) }}</li>
                {% end %}
            </ul>
        </td>
    </tr>
  </tbody>
</table>

{% end %}